*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
footer{
    padding:0 0.24rem;
    width:100%;

}
footer  h2{
    font-size:0.42rem;
    color:#fee58a;
    margin-top:1.74rem;
    margin-left:0.7rem;
}
footer  img{
    width:3.61rem;
    height:0.48rem;
    margin-top:0.65rem;
    margin-left:1.79rem;
}
main{
    width:100%;
    padding:0.36rem 0.24rem 0;
}
main  .dne{
    width:6.86rem;
    height:6.92rem;
    background:url("../images/37.png ")   no-repeat  center/cover ;
    margin:0 auto;
    position:relative;

}
main  .dne  input{
    display:block;
    background: #fff;
    width:2.55rem;
    height:0.51rem;
    border-radius:0.7rem;
    border:none;
    position:absolute;
    top:3.1rem;
    left:1rem;
    font-size:0.2rem;
    padding-left:0.11rem;
}
main  .dne  .password {
    display:block;
    background: #fff;
    width:2.55rem;
    height:0.51rem;
    border-radius:0.7rem;
    border:none;
    position:absolute;
    top:4.1rem;
    left:1rem;
    font-size:0.2rem;
    padding-left:0.11rem;
}
main  .dne  .submit {
    display:block;
    background: #fed405;
    width:3.37rem;
    height:0.77rem;
    border-radius:4.7rem;
    border:none;
    position:absolute;
    top:6rem;
    left:1.68rem;
    font-size:0.4rem;
    color:#fff;
}
main  .dne  img{
    position:absolute;
    top:3.95rem;
    right:0.6rem;
}
.down{
    margin-top:0.5rem;
    margin-left:1.98rem;
}
.down img{
    width:3.66rem;
    height:0.97rem;
}